/* Polices */
@font-face {
    font-family: 'Shrikhand-Regular';
    src:url('/fonts/Shrikhand-Regular.ttf') format('truetype');
  }
  
  @font-face{ 
      font-family: 'ROBOTO';
      src: url('/Fonts/Roboto-Regular.ttf') format('truetype');
  }

body {
    font-family: 'Roboto';
    height: 100vh;
    margin:0;
    display: flex;
    align-items: center;

}

.fa-heart {
  font-size: 100px;

} 

/*
.fa-heart::after {
  background: #0065fc;
  font-size: 1000px;
}

#ico_coeur :checked ~ .fa-heart::after {
  background: red;
}
*/

.input:checked {
  .fa-heart {
    background: red;
  }
}

label {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  opacity: 0.1;
}






























/* VALEUR POUR LE BOUTTON */

$cd-btn: #011c37;
$cd-txt: #15DEA5;
$cd-box: #0065fc;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);
$police_primaire:'Shrikhand';
$police_secondaire :'ROBOTO';
$color_primaire: #9356DC;
$color_secondaire:#FF79DA;
$color_tertiaire:#99E2D0;
$clr-btn: #15DEA5;
$color_fond: rgb(246, 246, 246);
$shadow: 1px 3px 8px rgb(187, 187, 187);


$border-rad: 1rem;
$clr-btn: #15DEA5;

/*
body {
  display: flex;
  justify-content: center;
}
$border-rad: 2rem;
$clr-btn: #15DEA5;

.btn {
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    color: #fff;
    border-radius: $border-rad;
    background-color: $clr-btn;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        border-radius: $border-rad;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background-color: darken($clr-btn, 5);
        opacity: 0;
        z-index: -1;
        transition: opacity 450ms;
    }
}


/*
.card_menu {
  .heading {
    font-size: 1rem;
    font-family: 'Roboto';
  }
  .border {
    background: $clr-btn;
    width: 60px;
    height: 5px;
    margin-bottom: 30px;
  }
}
.container_card {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  border-radius: .75rem;
  margin: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  &:hover {
    .box_check {
      margin-left: 5rem;
      transform: scale(0);
      transition-duration: 650ms;
      transform: translateX(-64px);
    } 
    .ico_check {
      transform: rotate(-360deg);
      transition-duration: 650ms;
    }
  }
}
.btn_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;

  .info_card {
    overflow: hidden;
  }

  .card_title, .card_description {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card_description {
    font-size: .8rem;
    font-weight: 100;
    margin-top: 4px;
  }
}

.container_checked {
  display: flex;
}
.card_price {
  display: flex;
  align-items: center;
  align-content: flex-end;
  font-weight: bold;
  padding-top: 23px;
}

.box_check {
  background-color: #99e2d0;
  //margin: -1rem -5.2rem -1rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
  position: relative;
  margin-right: -64px;


  .ico_check {
    color: #fff;
    font-size: 2rem;
  }
}



label {
  input:checked + .fas {
    color: red;
  }
}

.fa-heart {
  font-size: 2rem;
  position: absolute;
}

.fas {
  color: #fff;
}

input {
  width: 100px;
  height: 100px;
  border: 0px solid;

}


.container {
    display: flex;
    justify-content: center;
}
.btn_card {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    background-color: #fff;
    color: #000;
    padding-left: 20px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition-property: transform;
    transition: transform 450ms ease-in-out, background-color 450ms;
    &:hover + .box_check {
        width: 30%;
        height: 80px;
        background-color: $cd-txt;
        margin-bottom: 1rem;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        transition: transform 150ms ease-in-out;
        transform: translateX(-30%);
        transform-origin: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
            .ico_check {
                display: inline-block;
                color: #fff;
                transform: rotate(2turn);
            }
    }
}
.info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.ico_check {
    overflow: hidden;
    color: #fff;
    display: none;
}


.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: perspective(250px) rotateX(45deg);
        }
        & > .boxes--rotTurns {
            transform: perspective(250px) rotateX(45deg);
        }
    }
}

.boxes {
    display: flex;
    justify-content: center;
    align-content: space-around;
    &--rotDegrees {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        width: 300px;
        height: 300px;
        background-color: aquamarine;
        transition: transform 1500ms ease-in-out;
        
        
    }
 
    &--rotTurns {
        background: pink;
        width: 300px;
        height: 300px;
        transition: transform 1500ms ease-in-out;
    }
 }





/* VALEUR POUR LE FORMULAIRE 

$cd-txt: #6300a0;
$cd-box: #0065fc;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;


$shake-intensity : 1%;


@keyframes headshake {
  25% {
      // entièrement à droite
      transform: translateX($shake-intensity);
  }
  75% {
      // entièrement à gauche
      transform: translateX($shake-intensity * -1);
  }
}


.form {
  margin: 20%;
  &__group {
    & input {
      border: 2px solid $cd-box;
      border-radius: 100rem;
      color: $cd-txt;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      outline: none;
      padding: .5rem 1.5rem;
      width: 100%;
      &:focus {
        border: 2px solid $cd-txt;
      }
      &:not(:focus):invalid {
        background: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-txt--invalid;
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9) 2;
      }
    }
  }
}


$cd-bars: #15DEA5;
$cd-bars-inv: #0E397F;
$size: 3vh;
$num-bars: 4;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 4;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  animation: bars .01s;
  animation-delay: 1.75s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load {
    width: 20%;
    height: 150px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    &__bar {
      height:20px;
      border-radius: 3vh;
      margin-bottom: 10px;
      animation-direction: floor($number: 0);
      animation: bars 800ms backwards infinite ease-in-out alternate;
      
    }
    &__bar--1 {
        background-color: #15DEA5;
    }
    &__bar--2 {
      background-color:$color_primaire;
    }
    &__bar--3 {
      background-color:$color_secondaire;
    }
    &__bar--4 {
      background-color: $color_tertiaire;
    }
}


@keyframes bars {
  0% {
      transform: scaleX(0.5);
      
  }
  100% {
      transform: scaleX(0);
  }
}

/*
.spin {
  margin-top: 80px;
  background-color: #15DEA5;
  width: 30vh;
  height: 30vh;
  animation: spin 3s linear infinite paused;
  &:hover {
    animation-play-state: running;
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
*/

