/* Polices */
@font-face {
    font-family: 'Shrikhand-Regular';
    src:url('/fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face{ 
	font-family: 'ROBOTO';
	src: url('/Fonts/Roboto-Regular.ttf') format('truetype');
}

/* Variable */
$police_primaire:'Shrikhand';
$police_secondaire :'ROBOTO';
$color_primaire: #9356DC;
$color_secondaire:#FF79DA;
$color_tertiaire:#99E2D0;
$clr-btn: #15DEA5;
$shadow: 1px 3px 8px rgb(238, 238, 238);

/*General*/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: $police_secondaire;
}
a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SECTION HEADER */
header {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $police_primaire;
    text-align: center;
    height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    background: #FFF;
  }

  .maps {
    display: flex;
    align-items: center;
    justify-content: end;
    .fa-map-marker-alt {
      position:absolute;
      padding-left: 100px;
    }
    input {
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 0.9rem;
      font-weight: bold;
      box-shadow: 0px -2px 8px rgb(206, 206, 206);
      background:rgb(234, 234, 234);
      border: none;
      &::placeholder {
        color:#000;
      }
    }
  }

  .section_explore {   
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(246, 246, 246);
    height: 300px;
    .heading_explore {
      font-family: $police_secondaire;
      font-size: 1.5rem;      text-align: center;
      padding: 15px 15px 0 15px;
    }
    p {
      font-size: 1.2rem;
      font-family: $police_secondaire;
      text-align: center;
      margin: 0 5%;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 50px;
      border: none;
      border-radius: 100px;
      background-color: $color_secondaire;
      color: white;
      font-size: 1rem;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 1;
      &:hover {
        &::after {
            opacity: 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle, lighten($color_secondaire, 5) 0%, darken(rgb(162, 115, 192), 10) 100%);
        opacity: 0.7;
        z-index: -1;
        transition: opacity 250ms;
      }
    }
  }
}

/* SECTION FILTRES */
.filtres {
  display: flex;
  flex-direction: column;
  h2{
    margin-left: 20px;
    padding-top: 30px;
  }
  a:hover {
    color: $color_primaire;
  }
  .cat {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background: rgb(246, 246, 246);
    box-shadow: $shadow;
    font-size: 1rem;
    font-weight: bold;
    width: 300px;
    height: 75px;
    margin-bottom: 25px;
    color: #000;
    &:hover {
      background-color: rgb(245, 237, 255);
    }
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: $color_primaire;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      margin-right: 20px;
      margin-left: -5%;
      }
      .fa-mobile-alt, .fa-list-ul, .fa-store {
        color: rgb(126, 126, 126);
        padding-right: 25px;
        font-size: 1.2rem;
        &:hover {
          color: $color_primaire;
        }
      }
  }
}

/* SECTION RESTAURANTS */
#restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(246, 246, 246);
    h1 {
      margin: 45px 0 20px 20px;
    }
    .resultat_rest {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 335px;
      height: 250px;
      background: #fff;
      border-radius: 20px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
        .class {
          position: absolute;
          background: $color_tertiaire;
          color: rgb(0, 135, 102);
          font-size: 13px;
          font-weight: bold;
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 240px;
          margin-bottom: 215px;
          border-radius: 3px;
        }
    }
    .img_card {
      width: 100%;
      height: 175px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding-bottom: 10px;
    }
    .info_card {
      display: flex;
      justify-content: space-between;
    }
    .heading_card {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      color: #000;
        h3 {
          margin-top: 0px;
          margin-bottom: 0;
        }
        p {
          margin-top: 5px;
        }
    }
    .fa-heart {
      font-size: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      color: #000;
      background: $police_primaire;
      
    }
}
/* FOOTER */
footer {
  height: 250px;
  background: rgb(53, 53 , 53);
  h1 {
    padding: 20px 0 0 20px;
    font-family: $police_primaire;
    color: #FFF;
    font-size: 1.3rem;
  }
  ul {
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 20px;
    color:#FFF;
    .fa-utensils,  {
      font-size: 0.8rem;
      padding-right: 13px;
    }
    .fa-hands-helping {
      font-size: 0.8rem;
      padding-right: 8px;
    }
    a {
      color: #FFF;
    }
  }
}



