/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variable */
$police_primaire:'Shrikhand';
$police_secondaire :'ROBOTO';
$color_primaire: #9356DC;
$color_secondaire:#FF79DA;
$color_tertiaire:#99E2D0;
$clr-btn: #15DEA5;
$color_fond: rgb(246, 246, 246);
$shadow: 1px 3px 8px rgb(187, 187, 187);

/* Generale */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: $police_secondaire;
}

h1{
  font-family: $police_primaire;
}

a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* HEADER */

.header {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  height: 65px;
  width: 90%;
  .btn_return {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
    height: 60px;
    background-color: white;
    .fa-arrow-left {
      font-size: 1.2rem;
      color: #000;
    }
  }
  .logo {
    width: 80%;
    height: 60px;
    margin-left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* SECTION MENU */

#menu {
  display: flex;
  flex-direction: column;
  background-color: $color_fond;
  width:auto;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  padding: 10px;
  .heading_menu {
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: $police_primaire;
      font-size: 1.65rem;
    }
    .btn_card {
      font-size: 29px;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
        .btn_heart {
          position: relative;
          color: #000;
        }
        .btn__heart {            
          position: absolute;
          font-size: 24px;
          color: #fff;
          opacity: 0;
          &:hover {
            opacity: 1;
            transition-duration: 600ms;
            color: $color_secondaire;
            font-size: 31px;
          }
        }
    }
  }
}  

.card_menu {
  margin-bottom: 20px;
  & .heading {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 100;
    text-transform: uppercase;
  }
  & .border {
    background: $clr-btn;
    width: 50px;
    height: 4px;
    margin-bottom: 30px;
  }
  & .heading, .border {
    margin-left: 10px;
  }
}

@keyframes card-opacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.card_menu {
  opacity: 0;
  position: relative;
  animation: card-opacity 2s forwards;
}

.card__menu__first__part {
  animation-delay: 1s;
}

.card__menu__second__part {
  animation-delay: 2s;
}

.card__menu__third__part {
  animation-delay: 3s;
}

.container_card {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  border-radius: .75rem;
  margin: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  
  &:hover {
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 40%);
    .box_check {
      margin-left: 5rem;
      transform: scale(0);
      transition-duration: 650ms;
      transform: translateX(-64px);

    } 
    .ico_check {
      transform: rotate(-360deg);
      transition-duration: 650ms;
    }
  }
}
.btn_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;

  .info_card {
    overflow: hidden;
  }

  .card_title, .card_description {
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card_description {
    font-size: .9rem;
    font-weight: 100;
    margin-top: 4px;
  }
}

.container_checked {
  display: flex;
}
.card_price {
  display: flex;
  align-items: center;
  align-content: flex-end;
  font-weight: bold;
  padding-top: 23px;
  padding-left: 20px;
}

.box_check {
  background-color: #99e2d0;
  //margin: -1rem -5.2rem -1rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
  position: relative;
  margin-right: -64px;


  .ico_check {
    color: #fff;
    font-size: 2rem;
  }
}

/* CALL TO ACTION */

.btn_valid {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  .btn__valid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 100px;
    background-color: $color_primaire;
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
      &::after {
          opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      border-radius: 100px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(#ff79da, #9356dc);
      box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 40%);
      opacity: 0.7;
      z-index: -1;
      transition: opacity 250ms;
    }
  }

}

/* FOOTER */
footer {
  height: 250px;
  background: rgb(53, 53 , 53);
  h1 {
    padding: 20px 0 0 20px;
    font-family: $police_primaire;
    color: #FFF;
    font-size: 1.3rem;
  }
  ul {
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 20px;
    color:#FFF;
    .fa-utensils {
      font-size: 0.8rem;
      padding-right: 13px;
    }
    .fa-hands-helping {
      font-size: 0.8rem;
      padding-right: 8px;
    }
    a {
      color: #FFF;
    }
  }
}
@media screen and (min-width: 600px) {
  #menu {
    padding: 70px;
  }
}

@media screen and (min-width: 700px) {
  #menu {
    padding: 100px;
  }
}