/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variable */
$police_primaire:'Shrikhand';
$police_secondaire :'ROBOTO';
$color_primaire: #9356DC;
$color_secondaire:#FF79DA;
$color_tertiaire:#99E2D0;
$clr-btn: #15DEA5;
$shadow: 1px 3px 8px rgb(209, 209, 209);

/* SECTION CONFIG GENERAL */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: $police_secondaire;
}
a{
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* LOADER */
$cd-bars: #15DEA5;
$num-items : 4;
$anim-dur: 800ms;
$anim-delay: $anim-dur / $num-items;


@keyframes item {
  0% {
      transform: scaleX(0.3);
  }
  100% {
      transform: scaleX(0);
  }
}

@keyframes loader {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes page-visibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353535;
  width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  opacity: 1;
  animation: loader 10ms ease-out 3000ms forwards;
  //animation-name: loader;
  //animation-duration: 10ms;
  //animation-timing-function: ease-out;
  //animation-delay: 3000ms;
  //animation-iteration-count: 1;
  //animation-direction: normal;
  //animation-fill-mode: forwards;
  //animation-play-state: running;
}

.loader {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  &__item {
    height:20px;
    border-radius: 10vh;
    margin-bottom: 10px;
    animation: item $anim-dur backwards infinite ease-in-out alternate-reverse;
      @for $i from 1 through $num-items {
        &--#{$i} {
        animation-delay: $anim-delay * $i;
        }
      }
  }
    
  &__item--1 {
    background-color: $cd-bars;
  }
  &__item--2 {
    background-color:$color_primaire;
  }
  &__item--3 {
    background-color: $color_secondaire;
  }
  &__item--4 {
    background-color: $color_tertiaire;
  }
}


.homepage {
  animation: page-visibility 10ms ease-in 3000ms;
  //animation-duration: 10ms;
  //animation-timing-function: ease-in;
  //animation-delay: 3000ms;
  //animation-iteration-count: 1;
  //animation-direction: normal;
  //animation-fill-mode: both;
  //animation-play-state: running;
  //animation-name: page-visibility;
}
/* FIN DU LOADER */




/* SECTION HEADER */
header {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $police_primaire;
    text-align: center;
    height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    background: #FFF;
  }

  .maps {
    display: flex;
    align-items: center;
    justify-content: end;
    .fa-map-marker-alt {
      position:absolute;
      padding-left: 100px;
    }
    input {
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 0.9rem;
      font-weight: bold;
      box-shadow: 0px -2px 8px rgb(206, 206, 206);
      background:rgb(234, 234, 234);
      border: none;
      &::placeholder {
        color:#000;
      }
    }
  }

  .section_explore {   
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(246, 246, 246);
    height: 300px;
    .heading_explore {
      font-family: $police_secondaire;
      font-size: 1.5rem;      
      text-align: center;
      padding: 15px 15px 0 15px;
    }
    p {
      font-size: 1.2rem;
      font-family: $police_secondaire;
      text-align: center;
      margin: 0 5%;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 70px;
      border: none;
      border-radius: 100px;
      background-color: $color_primaire;
      box-shadow: $shadow;
      color: white;
      font-size: 1rem;
      margin-top: 2rem;
      cursor: pointer;
      position: relative;
      z-index: 1;
      &:hover {
        &::after {
            opacity: 1;
        }
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(circle, lighten($color_secondaire, 5) 0%, darken(#9356DC, 10) 170%);
        opacity: 0.7;
        z-index: -1;
        transition: opacity 250ms;
      }
    }
  }
}

/* FIN DE SECTION HEADER */

/* SECTION FILTRES */
.filtres {
  display: flex;
  flex-direction: column;
  h2{
    margin-left: 20px;
    padding-top: 30px;
  }

  .filtres_cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .cat {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: rgb(246, 246, 246);
    box-shadow: $shadow;
    font-size: 1rem;
    font-weight: bold;
    width: 320px;
    height: 75px;
    margin-bottom: 25px;
    color: #000;
    a {
      display: flex;
      align-items: center;
      color: #000;
    }
    &:hover{
      background-color: rgb(245, 237, 255);
      .fa-mobile-alt, .fa-list-ul, .fa-store {
        color: $color_primaire;
      }
    }
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 0.6rem;
      font-weight: 100;
      background: $color_primaire;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      margin-left: -3%;
      }
      .fa-mobile-alt, .fa-list-ul, .fa-store {
        color: rgb(126, 126, 126);
        padding-right: 25px;
        font-size: 1.2rem;
      }
  }
}
/* FIN DE SECTION FILTRES */

/* SECTION RESTAURANTS */
#restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(246, 246, 246);
    h2 {
      margin: 45px 0 20px 20px;
    }
    .resultat_rest {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 335px;
      height: 250px;
      background: #fff;
      border-radius: 20px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: $shadow;
        .class {
          position: absolute;
          background: $color_tertiaire;
          color: rgb(0, 135, 102);
          font-size: 13px;
          font-weight: bold;
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 240px;
          margin-bottom: 205px;
          border-radius: 2px;
        }
    }
    .img_card {
      width: 100%;
      height: 176px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding-bottom: 12px;
    }
    .info_card {
      display: flex;
      justify-content: space-between;
      margin: 0px 12px;
      .heading_card {
        display: flex;
        flex-direction: column;
        color: #000;
          h3 {
            margin-top: 0px;
            margin-bottom: 0;
          }
          p {
            margin-top: 5px;
          }
      }/*btn_card {
        font-size: 29px;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        background-color: #FFF;
          .btn_heart {
            position: relative;
            color: #000;
          }
          .btn__heart {
            position: absolute;
            font-size: 24px;
            color: #fff;
            opacity: 0;
            z-index: 0;
            &:hover {
              opacity: 1;
              transition-duration: 600ms;
              color: darken(rgb(241, 102, 188), 30);
              font-size: 31px;
              z-index: 1;
            }
          }*/
      }
    
}


.fa-gradient {
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  color: transparent;
}
#ico_coeur {
  display: none;
}

#ico_coeur:checked {
  #emply_heart {
    &:hover + .ico_coeur {
      display: none;
    }
  }

  #full_heart {
  }
}
/* FIN DE SECTION RESTAURANTS */


/* FOOTER */
footer {
  height: 250px;
  background: rgb(53, 53 , 53);
  padding-top: 1%;
  h1 {
    padding: 20px 0 0 20px;
    font-family: $police_primaire;
    color: #FFF;
    font-size: 1.3rem;
  }
  ul {
    font-size: 1.2rem;
    line-height: 30px;
    padding-left: 20px;
    color:#FFF;
    .fa-utensils,  {
      font-size: 0.8rem;
      padding-right: 13px;
    }
    .fa-hands-helping {
      font-size: 0.8rem;
      padding-right: 8px;
    }
    a {
      color: #FFF;
    }
  }
}
/* FIN SECTION FOOTER */

/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
  header {
    .maps {
      .fa-map-marker-alt {
        padding-left: 80px;
      }
    }
  }

  .filtres_cat {
    .cat {
      width: 280px;
    }
  }

  #restaurant {
    .resultat_rest {
      .btn_heart {
        margin-right: 30px;
      }
      .card {
        width: 300px;
      }
      .class {
        margin-left: 205px;
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
  header {
    .maps {
      .fa-map-marker-alt {
        padding-left: 30%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .maps {
      .fa-map-marker-alt {
        padding-left: 40%;
      }
    }
    .section_explore {
      height: 250px;
    }
  }
  
  .filtres {
    .filtres_cat {
      flex-direction: row;
      justify-content: space-around;
        .cat {
          width: 210px;
          height: 60px;
          font-size: 0.8rem;
            .number {
              border-radius: 20px;
              width: 24px; height: 24px;
              font-size: 12px;
              margin-right: 15px;
              margin-left: -5%;
            }
            .fa-mobile-alt, .fa-list-ul, .fa-store {
              padding-right: 15px;
            }
        }
    }
  }

  #restaurant {
    .resultat_rest {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      .card {
        width: 330px;
      }
      .class {
        margin-left: 235px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    .container_loader {
      .loader {
        padding-top:30%;
      }
    }
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(53, 53 , 53);
      .logo {
        margin-right: 100px;
        height: 100px;
        font-size: 2.5rem;
        background: rgb(53, 53 , 53);
        color: white;
      }
      .maps {
        width: 350px;
          input {
            background: rgb(246, 246, 246);
            border-radius: 10px;
            color: #000;
              &::placeholder {
                color: #000;
                padding-left: 32px;
              }
          }
          .fa-map-marker-alt {
            padding: 110px;
            color: #000;
          }
      }
      .section_explore {
        width: 100%;
        .btn {
          width: 330px;
          height: 70px;
          font-size: 1.2rem;
        }
      }
  }

  .filtres {
    .filtres_cat {
        .cat {
          width: 280px;
          height: 160px;
          font-size: 1.2rem;
          justify-content: center;
          align-items: flex-start;
          border-radius: 0px;
          border-bottom-right-radius: 25px;
          border-top-left-radius: 25px;
            a {
              flex-direction: column;
             
            }
            .number {
              width: 280px;
              height: 35px;
              margin: 0px 0px 35px 0px;
              border-radius: 0;
              border-top-left-radius: 25px;
              font-size: 1.2rem;
            }
            .fa-mobile-alt, .fa-list-ul, .fa-store {
              padding: 0px;
              font-size: 2rem;
              margin-bottom: 20px;
            }
        }
    }
  }

  #restaurant {
    .resultat_rest {
      .card {
        width: 450px;
      }
      .class {
        margin-left: 355px;
      }
    }
  }
}


@media screen and (min-width: 1440px) { 
  .filtres {
    .filtres_cat {
        .cat {
          width: 380px;
          height: 160px;
          font-size: 1.2rem;
            .number {
              width: 380px;
            }
        }
    }
  }

  #restaurant {
    .resultat_rest {
      .card {
        width: 500px;
      }
      .class {
        margin-left: 400px;
      }
    }
  }

}

@media screen and (min-width: 1500px) {
  .resultat_rest {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1900px) {
  .filtres {
    .filtres_cat {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  #restaurant {
    .resultat_rest {
      padding-left: 10%;
      padding-right: 10%;
      .card {
        width: 600px;
        height: 350px;
        justify-content: space-between;
        .class {
          margin-left: 480px;
          width: 100px;
          height: 40px;
          font-size: 1.2rem;
        }
        .img_card {
          height: 270px;
        }
        .heading_card {
          font-size: 1.3rem;
          margin-left: 15px;
        }
      }
    }
  }
}