/* Polices */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Variable */
/* Generale */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: "ROBOTO";
}

h1 {
  font-family: "Shrikhand";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* HEADER */
.header {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  height: 65px;
  width: 90%;
}
.header .btn_return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  background-color: white;
}
.header .btn_return .fa-arrow-left {
  font-size: 1.2rem;
  color: #000;
}
.header .logo {
  width: 80%;
  height: 60px;
  margin-left: -30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SECTION MENU */
#menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: auto;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  padding: 10px;
}
#menu .heading_menu {
  display: flex;
  justify-content: space-between;
}
#menu .heading_menu h2 {
  font-family: "Shrikhand";
  font-size: 1.65rem;
}
#menu .heading_menu .btn_card {
  font-size: 29px;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
#menu .heading_menu .btn_card .btn_heart {
  position: relative;
  color: #000;
}
#menu .heading_menu .btn_card .btn__heart {
  position: absolute;
  font-size: 24px;
  color: #fff;
  opacity: 0;
}
#menu .heading_menu .btn_card .btn__heart:hover {
  opacity: 1;
  transition-duration: 600ms;
  color: #FF79DA;
  font-size: 31px;
}

.card_menu {
  margin-bottom: 20px;
}
.card_menu .heading {
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 100;
  text-transform: uppercase;
}
.card_menu .border {
  background: #15DEA5;
  width: 50px;
  height: 4px;
  margin-bottom: 30px;
}
.card_menu .heading, .card_menu .border {
  margin-left: 10px;
}

@keyframes card-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card_menu {
  opacity: 0;
  position: relative;
  animation: card-opacity 2s forwards;
}

.card__menu__first__part {
  animation-delay: 1s;
}

.card__menu__second__part {
  animation-delay: 2s;
}

.card__menu__third__part {
  animation-delay: 3s;
}

.container_card {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  border-radius: 0.75rem;
  margin: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.container_card:hover {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.4);
}
.container_card:hover .box_check {
  margin-left: 5rem;
  transform: scale(0);
  transition-duration: 650ms;
  transform: translateX(-64px);
}
.container_card:hover .ico_check {
  transform: rotate(-360deg);
  transition-duration: 650ms;
}

.btn_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0.5rem;
}
.btn_card .info_card {
  overflow: hidden;
}
.btn_card .card_title, .btn_card .card_description {
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn_card .card_description {
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: 4px;
}

.container_checked {
  display: flex;
}

.card_price {
  display: flex;
  align-items: center;
  align-content: flex-end;
  font-weight: bold;
  padding-top: 23px;
  padding-left: 20px;
}

.box_check {
  background-color: #99e2d0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
  position: relative;
  margin-right: -64px;
}
.box_check .ico_check {
  color: #fff;
  font-size: 2rem;
}

/* CALL TO ACTION */
.btn_valid {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.btn_valid .btn__valid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 100px;
  background-color: #9356DC;
  color: white;
  font-size: 1.3rem;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn_valid .btn__valid:hover::after {
  opacity: 1;
}
.btn_valid .btn__valid::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  z-index: -1;
  transition: opacity 250ms;
}

/* FOOTER */
footer {
  height: 250px;
  background: #353535;
}
footer h1 {
  padding: 20px 0 0 20px;
  font-family: "Shrikhand";
  color: #FFF;
  font-size: 1.3rem;
}
footer ul {
  font-size: 1.2rem;
  line-height: 30px;
  padding-left: 20px;
  color: #FFF;
}
footer ul .fa-utensils {
  font-size: 0.8rem;
  padding-right: 13px;
}
footer ul .fa-hands-helping {
  font-size: 0.8rem;
  padding-right: 8px;
}
footer ul a {
  color: #FFF;
}

@media screen and (min-width: 600px) {
  #menu {
    padding: 70px;
  }
}
@media screen and (min-width: 700px) {
  #menu {
    padding: 100px;
  }
}

/*# sourceMappingURL=style-page1.css.map */
