/* Polices */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ROBOTO";
  src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  font-family: "Roboto";
}

/* VALEUR POUR LE BOUTTON */
.card_menu .heading {
  font-size: 1rem;
  font-family: "Roboto";
}
.card_menu .border {
  background: #15DEA5;
  width: 60px;
  height: 5px;
  margin-bottom: 30px;
}

.container_card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 0.5rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.container_card:hover .card_title, .container_card:hover .card_description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container_card:hover .box_check {
  margin-left: 5rem;
  transform: scale(0);
  transition-duration: 650ms;
  transform: translateX(-10vh);
}
.container_card:hover .ico_check {
  transform: rotate(-360deg);
  transition-duration: 650ms;
}

.btn_card {
  display: flex;
  justify-content: space-between;
}
.btn_card .card_title, .btn_card .card_description {
  margin: 0px;
}
.btn_card .card_description {
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 4px;
}

.container_checked {
  display: flex;
}

.card_price {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}

.box_check {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 450ms;
}
.box_check .ico_check {
  color: #fff;
  font-size: 2rem;
}

/*
.container {
    display: flex;
    justify-content: center;
}
.btn_card {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    background-color: #fff;
    color: #000;
    padding-left: 20px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition-property: transform;
    transition: transform 450ms ease-in-out, background-color 450ms;
    &:hover + .box_check {
        width: 30%;
        height: 80px;
        background-color: $cd-txt;
        margin-bottom: 1rem;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        transition: transform 150ms ease-in-out;
        transform: translateX(-30%);
        display: flex;
        justify-content: center;
        align-items: center;
            .ico_check {
                display: inline-block;
                color: #fff;
                transform: rotate(2turn);
            }
    }
}
.info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.ico_check {
    overflow: hidden;
    color: #fff;
    display: none;
}





/* boxes 
.btn {
    &:hover + .boxes {
        & > .boxes--rotDegrees {
            transform: perspective(250px) rotateX(45deg);
        }
        & > .boxes--rotTurns {
            transform: perspective(250px) rotateX(45deg);
        }
    }
}

.boxes {
    display: flex;
    justify-content: center;
    align-content: space-around;
    &--rotDegrees {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        width: 300px;
        height: 300px;
        background-color: aquamarine;
        transition: transform 1500ms ease-in-out;


    }

    &--rotTurns {
        background: pink;
        width: 300px;
        height: 300px;
        transition: transform 1500ms ease-in-out;
    }
 }
*/
/* VALEUR POUR LE FORMULAIRE 

$cd-txt: #6300a0;
$cd-box: #0065fc;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;

.form {
    margin: 20%;
    &__group {
        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 100%;
            transition: background-color 500ms;
            &:focus {
            border: 2px solid $cd-txt;
            }
            &:not(:focus):invalid {
                background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-txt--invalid;
            }
        }
    }
}
*/

/*# sourceMappingURL=styleexo.css.map */
