/* Polices */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ROBOTO";
  src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
}
/* Variable */
/*General*/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: "ROBOTO";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SECTION HEADER */
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand";
  text-align: center;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
}
header .ico_maps {
  width: 2rem;
  height: 2rem;
}
header .zone_rech {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/ico_maps.png);
  box-shadow: 1px 1px 8px #aaaaaa;
  background: #eaeaea;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 0;
  margin-top: 0;
  margin-bottom: 0;
}
header .section_explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: 300px;
}
header .section_explore .heading_explore {
  font-family: "ROBOTO";
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 15px 0 15px;
}
header .section_explore p {
  font-size: 1.2rem;
  font-family: "ROBOTO";
  text-align: center;
  margin: 0 5%;
}
header .section_explore .btn_explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: #FF79DA;
  box-shadow: 1px 3px 8px #aaaaaa;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
}

/* SECTION FILTRES */
.filtres {
  display: flex;
  flex-direction: column;
}
.filtres h2 {
  margin-left: 20px;
  padding-top: 30px;
}
.filtres .cat {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 1px 3px 8px #aaaaaa;
  font-size: 1rem;
  font-weight: bold;
  width: 300px;
  height: 75px;
  margin-bottom: 25px;
  color: #000;
}
.filtres .cat .number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #9356DC;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: -5%;
}
.filtres .cat .fa-mobile-alt, .filtres .cat .fa-list-ul, .filtres .cat .fa-store {
  color: gray;
  padding-right: 25px;
  font-size: 1.2rem;
}

/* SECTION RESTAURANTS */
#restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f6f6f6;
}
#restaurant h1 {
  margin: 45px 0 20px 20px;
}
#restaurant .resultat_rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurant .card {
  width: 335px;
  height: 250px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#restaurant .card .class {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-size: 13px;
  font-weight: bold;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  margin-bottom: 215px;
  border-radius: 3px;
}
#restaurant .img_card {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 10px;
}
#restaurant .info_card {
  display: flex;
  justify-content: space-between;
}
#restaurant .heading_card {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  color: #000;
}
#restaurant .heading_card h3 {
  margin-top: 0px;
  margin-bottom: 0;
}
#restaurant .heading_card p {
  margin-top: 5px;
}
#restaurant .fa-heart {
  font-size: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  color: #000;
  background: "Shrikhand";
}

footer {
  height: 250px;
  background: #353535;
}
footer h1 {
  padding: 20px 0 0 20px;
  font-family: "Shrikhand";
  color: #FFF;
  font-size: 1.3rem;
}
footer ul {
  font-size: 1.2rem;
  line-height: 30px;
  padding-left: 20px;
  color: #f6f6f6;
}
footer ul .fa-utensils {
  font-size: 0.8rem;
  padding-right: 13px;
}
footer ul .fa-hands-helping {
  font-size: 0.8rem;
  padding-right: 8px;
}

/*# sourceMappingURL=style.css.map */
