/* Polices */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ROBOTO";
  src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
}
/* Variable */
/* LOADER */
.container_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: fixed;
  padding-top: 100%;
  border-radius: 100px;
}
.loader__item {
  height: 20px;
  border-radius: 10vh;
  margin-bottom: 10px;
  animation: item 800ms backwards infinite ease-in-out alternate-reverse;
}
.loader__item--1 {
  animation-delay: 200ms;
}
.loader__item--2 {
  animation-delay: 400ms;
}
.loader__item--3 {
  animation-delay: 600ms;
}
.loader__item--4 {
  animation-delay: 800ms;
}
.loader__item--1 {
  background-color: #15DEA5;
}
.loader__item--2 {
  background-color: #9356DC;
}
.loader__item--3 {
  background-color: #FF79DA;
}
.loader__item--4 {
  background-color: #99E2D0;
}

@keyframes item {
  0% {
    transform: scaleX(0.3);
  }
  100% {
    transform: scaleX(0);
  }
}
/*General*/
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: "ROBOTO";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.heart_none {
  display: none;
}

/* SECTION HEADER */
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand";
  text-align: center;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  background: #FFF;
}
header .maps {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .maps .fa-map-marker-alt {
  position: absolute;
  padding-left: 100px;
}
header .maps input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0px -2px 8px #cecece;
  background: #eaeaea;
  border: none;
}
header .maps input::placeholder {
  color: #000;
}
header .section_explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  height: 300px;
}
header .section_explore .heading_explore {
  font-family: "ROBOTO";
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 15px 0 15px;
}
header .section_explore p {
  font-size: 1.2rem;
  font-family: "ROBOTO";
  text-align: center;
  margin: 0 5%;
}
header .section_explore .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: #9356DC;
  box-shadow: 1px 3px 8px #d1d1d1;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .section_explore .btn:hover::after {
  opacity: 1;
}
header .section_explore .btn::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #ff93e1 0%, #782cd3 170%);
  opacity: 0.7;
  z-index: -1;
  transition: opacity 250ms;
}

/* SECTION FILTRES */
.filtres {
  display: flex;
  flex-direction: column;
}
.filtres h2 {
  margin-left: 20px;
  padding-top: 30px;
}
.filtres .filtres_cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.filtres .cat {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 1px 3px 8px #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
  width: 320px;
  height: 75px;
  margin-bottom: 25px;
  color: #000;
}
.filtres .cat a {
  display: flex;
  align-items: center;
  color: #000;
}
.filtres .cat:hover {
  background-color: #f5edff;
}
.filtres .cat .number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 100;
  background: #9356DC;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: -3%;
}
.filtres .cat .fa-mobile-alt, .filtres .cat .fa-list-ul, .filtres .cat .fa-store {
  color: #7e7e7e;
  padding-right: 25px;
  font-size: 1.2rem;
}
.filtres .cat .fa-mobile-alt:hover, .filtres .cat .fa-list-ul:hover, .filtres .cat .fa-store:hover {
  color: #9356DC;
}

/* SECTION RESTAURANTS */
#restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f6f6f6;
}
#restaurant h2 {
  margin: 45px 0 20px 20px;
}
#restaurant .resultat_rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurant .card {
  width: 335px;
  height: 250px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 3px 8px #d1d1d1;
}
#restaurant .card .class {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-size: 13px;
  font-weight: bold;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 240px;
  margin-bottom: 205px;
  border-radius: 2px;
}
#restaurant .img_card {
  width: 100%;
  height: 176px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 12px;
}
#restaurant .info_card {
  display: flex;
  justify-content: space-between;
  margin: 0px 12px;
}
#restaurant .info_card .heading_card {
  display: flex;
  flex-direction: column;
  color: #000;
}
#restaurant .info_card .heading_card h3 {
  margin-top: 0px;
  margin-bottom: 0;
}
#restaurant .info_card .heading_card p {
  margin-top: 5px;
}
#restaurant .info_card .btn_card {
  font-size: 29px;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #FFF;
}
#restaurant .info_card .btn_card .btn_heart {
  position: relative;
  color: #000;
}
#restaurant .info_card .btn_card .btn__heart {
  position: absolute;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  z-index: 0;
}
#restaurant .info_card .btn_card .btn__heart:hover {
  opacity: 1;
  transition-duration: 650ms;
  color: green;
  font-size: 31px;
  z-index: 1;
}

/* FOOTER */
footer {
  height: 250px;
  background: #353535;
}
footer h1 {
  padding: 20px 0 0 20px;
  font-family: "Shrikhand";
  color: #FFF;
  font-size: 1.3rem;
}
footer ul {
  font-size: 1.2rem;
  line-height: 30px;
  padding-left: 20px;
  color: #FFF;
}
footer ul .fa-utensils {
  font-size: 0.8rem;
  padding-right: 13px;
}
footer ul .fa-hands-helping {
  font-size: 0.8rem;
  padding-right: 8px;
}
footer ul a {
  color: #FFF;
}

/* MEDIA QUERIES */
@media screen and (max-width: 320px) {
  header .maps .fa-map-marker-alt {
    padding-left: 80px;
  }

  .filtres_cat .cat {
    width: 280px;
  }

  #restaurant .resultat_rest .btn_heart {
    margin-right: 30px;
  }
  #restaurant .resultat_rest .card {
    width: 300px;
  }
  #restaurant .resultat_rest .class {
    margin-left: 205px;
  }
}
@media screen and (min-width: 425px) and (max-width: 500px) {
  header .maps .fa-map-marker-alt {
    padding-left: 30%;
  }
}
@media screen and (min-width: 768px) {
  header .maps .fa-map-marker-alt {
    padding-left: 40%;
  }
  header .section_explore {
    height: 250px;
  }

  .filtres .filtres_cat {
    flex-direction: row;
    justify-content: space-around;
  }
  .filtres .filtres_cat .cat {
    width: 210px;
    height: 60px;
    font-size: 0.8rem;
  }
  .filtres .filtres_cat .cat .number {
    border-radius: 20px;
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin-right: 15px;
    margin-left: -5%;
  }
  .filtres .filtres_cat .cat .fa-mobile-alt, .filtres .filtres_cat .cat .fa-list-ul, .filtres .filtres_cat .cat .fa-store {
    padding-right: 15px;
  }

  #restaurant .resultat_rest {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #restaurant .resultat_rest .card {
    width: 330px;
  }
  #restaurant .resultat_rest .class {
    margin-left: 235px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #353535;
  }
  header .logo {
    margin-right: 100px;
    height: 100px;
    font-size: 2.5rem;
    background: #353535;
    color: white;
  }
  header .maps {
    width: 350px;
  }
  header .maps input {
    background: #f6f6f6;
    border-radius: 10px;
    color: #000;
  }
  header .maps input::placeholder {
    color: #000;
    padding-left: 32px;
  }
  header .maps .fa-map-marker-alt {
    padding: 110px;
    color: #000;
  }
  header .section_explore {
    width: 100%;
  }
  header .section_explore .btn {
    width: 330px;
    height: 70px;
    font-size: 1.2rem;
  }

  .filtres .filtres_cat .cat {
    width: 280px;
    height: 160px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .filtres .filtres_cat .cat a {
    flex-direction: column;
  }
  .filtres .filtres_cat .cat .number {
    width: 280px;
    height: 35px;
    margin: 0px 0px 35px 0px;
    border-radius: 0;
    border-top-left-radius: 25px;
    font-size: 1.2rem;
  }
  .filtres .filtres_cat .cat .fa-mobile-alt, .filtres .filtres_cat .cat .fa-list-ul, .filtres .filtres_cat .cat .fa-store {
    padding: 0px;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  #restaurant .resultat_rest .card {
    width: 450px;
  }
  #restaurant .resultat_rest .class {
    margin-left: 355px;
  }
}
@media screen and (min-width: 1440px) {
  .filtres .filtres_cat .cat {
    width: 380px;
    height: 160px;
    font-size: 1.2rem;
  }
  .filtres .filtres_cat .cat .number {
    width: 380px;
  }

  #restaurant .resultat_rest .card {
    width: 500px;
  }
  #restaurant .resultat_rest .class {
    margin-left: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
