/* Polices */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ROBOTO";
  src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
}
/* Variable */
/* Generale */
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  font-family: "ROBOTO";
}

h1 {
  font-family: "Shrikhand";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.header .btn_return {
  margin-left: 30px;
  background-color: white;
  border: none;
}
.header .btn_return .fa-arrow-left {
  font-size: 1.2rem;
  color: #000;
}
.header h1 {
  margin-right: 100px;
}

/* SECTION MENU-1 */
#menu1 {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  padding: 20px;
}
#menu1 .heading_menu {
  display: flex;
  justify-content: space-between;
}
#menu1 .heading_menu h2 {
  font-family: "Shrikhand";
  font-size: 1.65rem;
}
#menu1 .heading_menu .btn {
  border: none;
  background-color: #f6f6f6;
  padding-right: 15px;
  cursor: pointer;
}
#menu1 .heading_menu .btn .fa-heart {
  font-size: 25px;
}
#menu1 .card_menu {
  margin-bottom: 40px;
}
#menu1 .card_menu .heading {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 2;
}
#menu1 .card_menu .border {
  width: 45px;
  height: 4px;
  background: #99E2D0;
}
#menu1 .card_menu .card {
  height: 60px;
  background: white;
  border-radius: 15px;
  padding: 5px;
  margin-top: 20px;
  box-shadow: 1px 3px 8px #bbbbbb;
  transition: transform 400ms;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#menu1 .card_menu .card:hover {
  background-color: #15DEA5;
  background: radial-gradient(circle, #22eab1 0%, #11af82 100%);
  opacity: 0.7;
  transition: opacity 250ms;
}
#menu1 .card_menu .card .heading_card {
  font-size: 1.1rem;
  margin: 10px 0px -10px 10px;
}
#menu1 .card_menu .card .info_card {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}
#menu1 .card_menu .card .info_card p {
  font-size: 14px;
}
#menu1 .card_menu .card .info_card .price {
  font-weight: bold;
}

.btn_valid {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.btn_valid .btn__valid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  text-align: center;
  border: none;
  border-radius: 100px;
  background-color: #FF79DA;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn_valid .btn__valid:hover::after {
  opacity: 0;
}
.btn_valid .btn__valid::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #ff93e1 0%, #8b50b0 100%);
  opacity: 0.7;
  z-index: -1;
  transition: opacity 250ms;
}

/* FOOTER */
footer {
  height: 250px;
  background: #353535;
}
footer h1 {
  padding: 20px 0 0 20px;
  font-family: "Shrikhand";
  color: #FFF;
  font-size: 1.3rem;
}
footer ul {
  font-size: 1.2rem;
  line-height: 30px;
  padding-left: 20px;
  color: #FFF;
}
footer ul .fa-utensils {
  font-size: 0.8rem;
  padding-right: 13px;
}
footer ul .fa-hands-helping {
  font-size: 0.8rem;
  padding-right: 8px;
}
footer ul a {
  color: #FFF;
}

/*# sourceMappingURL=style-page1.css.map */
